@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
:root {
  --Primary: #D88817;
  --PrimaryDark: #85530E;
  --Black: #000000;
  --White: #ffffff;
  --Footer: #54595F;
  --FooterFont: #d8d8d8;
  --spacing: 1em;
}

body {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

nav {
  position: sticky;
  width: 100%;
  align-items: center;
  top: -1px;
  display: flex;
  flex-direction: row;
  background-color: var(--White);
  z-index: 999;
}
nav .burger {
  display: none;
  position: relative;
  width: 42px;
  height: 34px;
  cursor: pointer;
  z-index: 9999;
}
nav .burger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--Primary);
  transition: background-color 0.25s ease-in-out;
}
nav .burger span::before, nav .burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--Primary);
  transition: transform 0.25s ease-in-out;
}
nav .burger span::before {
  transform: translateY(-15px);
}
nav .burger span::after {
  transform: translateY(15px);
}
nav .burger.active span {
  background-color: transparent;
}
nav .burger.active span::before {
  transform: translateY(0) rotate(45deg);
}
nav .burger.active span::after {
  transform: translateY(0) rotate(-45deg);
}
nav .menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .menu img {
  width: 150px;
  margin: 20px;
}
nav .menu ul {
  width: 100%;
  justify-content: space-around;
  list-style: none;
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease-in-out;
  padding: 0;
}
nav .menu ul li {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  color: var(--Primary);
  margin: 0 90px;
}
nav .menu ul li a {
  font-family: "Kaushan script";
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: black;
  position: relative;
  padding-bottom: 5px;
}
nav .menu ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--Primary);
  transition: width 0.25s ease-in-out;
  transform: translateX(-50%);
}
nav .menu ul li a:hover::after {
  width: 100%;
  left: 50%;
}
nav .menu ul li a:active {
  color: var(--Secondary);
}
nav .menu ul li a:active::after {
  width: 100%;
  left: 50%;
  background-color: var(--Secondary);
}
@media screen and (max-width: 1300px) {
  nav {
    position: sticky;
  }
  nav .burger {
    display: block;
    position: absolute;
    top: 50%;
    margin: 20px;
    z-index: 999;
  }
  nav .menu {
    position: absolute;
    top: 0;
    left: -200vh;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    transition: 0.5s ease-in-out;
  }
  nav .menu img {
    width: 250px;
    filter: drop-shadow(2px 1px 1px var(--Primary));
  }
  nav .menu ul {
    flex-direction: column;
  }
  nav .menu ul li {
    margin: 10px;
    margin-inline: auto;
  }
  nav .menu ul li a {
    font-size: 1.5rem;
    color: var(--Primary);
  }
  nav .menu.swipe {
    left: 0;
  }
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
header h1 {
  position: absolute;
  top: -50px;
  font-size: 80px;
  font-weight: lighter;
  font-family: "Kaushan script";
  color: var(--White);
}
header img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 35%;
     object-position: center 35%;
}
@media screen and (max-width: 1200px) {
  header h1 {
    margin-top: 50px;
    font-size: 50px;
  }
  header img {
    height: 80%;
  }
}
@media screen and (max-width: 700px) {
  header h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 15px;
  }
}

.gospelLine {
  position: relative;
  top: 50px;
  width: 90%;
  height: 3px;
  margin: 0 auto;
  border: none;
  border-top: 3px solid;
  color: var(--Primary);
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  top: 50px;
}
.container .albumGS {
  position: relative;
  width: 520px;
  height: 520px;
  margin: 150px 0 0 150px;
}
.container .liensEcoute {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 150px;
  align-items: center;
}
.container .liensEcoute .lienIcones {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.container .liensEcoute .lienIcones a {
  transition: 0.25s;
}
.container .liensEcoute .lienIcones a img {
  width: 80px;
  height: auto;
}
.container .liensEcoute .lienIcones a:hover {
  transform: scale(1.5);
}
.container .liensEcoute .lienIcones a:active {
  transform: scale(1.3);
  filter: brightness(120%);
}
.container .liensEcoute p {
  font-size: 20px;
}
.container .liensEcoute .infos {
  text-decoration: none;
  border-radius: 22px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  color: var(--Primary);
  border: solid;
}
.container .liensEcoute .infos:hover {
  color: var(--PrimaryDark);
  background-color: var(--Primary);
}
.container .liensEcoute .infos:active {
  color: var(--Primary);
  background-color: var(--PrimaryDark);
  filter: brightness(120%);
}
@media screen and (max-width: 1000px) {
  .container .albumGS {
    width: 50%;
    height: auto;
    margin: 50px;
  }
  .container .liensEcoute {
    margin: 0;
  }
  .container .liensEcoute .lienIcones a img {
    width: 50px;
  }
  .container .liensEcoute p {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .container .albumGS {
    width: 40%;
    height: auto;
    margin: 50px 10px;
  }
  .container .liensEcoute .lienIcones a img {
    width: 40px;
  }
  .container .liensEcoute p {
    font-size: 10px;
  }
}

footer {
  position: relative;
  top: 100px;
  background-color: var(--Footer);
}
footer .inLine {
  display: flex;
  width: 100%;
  margin: 50px;
  justify-content: space-around;
}
footer .inLine .descriptionGS {
  width: 480px;
  text-align: center;
}
footer .inLine .descriptionGS p {
  font-size: 20px;
  color: var(--FooterFont);
}
footer .inLine .links {
  position: relative;
}
footer .inLine .links h5 {
  font-size: 25px;
  color: var(--FooterFont);
}
footer .inLine .links li {
  margin: 10px 0;
  color: var(--FooterFont);
}
footer .inLine .links a {
  text-decoration: none;
  color: var(--FooterFont);
}
footer .reseaux {
  display: flex;
  justify-content: space-around;
}
footer .reseaux a img {
  width: 52px;
}
footer .reseaux p {
  color: var(--FooterFont);
}
@media screen and (max-width: 1650px) {
  footer .inLine {
    margin-inline: 0;
  }
}
@media screen and (max-width: 700px) {
  footer .inLine .descriptionGS {
    width: 50%;
  }
  footer .inLine .descriptionGS img {
    width: 100%;
  }
  footer .inLine .descriptionGS p {
    font-size: 13px;
  }
  footer .inLine .links {
    margin-left: 15px;
  }
  footer .inLine .links h5 {
    font-size: 20px;
    margin-top: 10px;
  }
  footer .inLine .links li {
    font-size: 12px;
  }
  footer .reseaux p {
    font-size: 10px;
  }
}/*# sourceMappingURL=GSystem.css.map */